body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #00153d;
    color: white;
    padding: 10px 20px;
}

span { color: #ff0054 }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }
}

.info-column {
    flex: 0 0 40%;
    padding-right: 20px;
}

.info-column h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-column p {
    font-size: 16px;
    line-height: 1.6;
}

.chat-column {
    flex: 1 1 60%; 
    padding-left: 20px;
    margin-top: 20px;
}

.chat-widget {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 450px;
    overflow-y: auto;
}

.chat-messages {
    overflow-y: auto; 
    max-height: calc(100% - 50px);
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.received {
    background-color: #f2f2f2;
    align-self: flex-start;
    margin-right: auto;
}

.sent {
    background-color: #d4e6ff;
    align-self: flex-end;
    margin-left: auto;
}

.sender {
    font-size: 12px;
    font-weight: bold;
    color: #777;
    margin-bottom: 5px;
}

.message-content {
    font-size: 16px;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #ff0054;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #0056b3;
}

.statistics {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: #00153d;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        margin-top: 3rem;
        z-index: 1000;
    }

    .nav-links.open {
        transform: translateX(0%);
        background-color: #00153d;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .burger {
        display: block;
    }
}
